<h1>orders index</h1>

<section class="section">
  <% @orders[0..9].each do |order| %>
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="subtitle is-4">
                <%= link_to order.id, customer_order_path(@customer.id, order.id) %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %> 
</section>