<section class="section">
  <% @orders[0..9].each do |order| %>
    <div class="container">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="subtitle is-4">
                <% complete_status = order.completed ? "Completed" : "Not Completed" %>
                <% link_badge = "Order Number: " + order.id.to_s + order.created_at.strftime(" | Created on %m/%d/%Y  at %I:%M%p").to_s + " | Status: " + complete_status%>
                <%= link_to link_badge, customer_order_path(@customer.id, order.id) %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %> 
</section>