<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Udderless, <%= @customer.first_name %></h1>
    <p>
      To order oatmilk, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!
    <%= image_tag("TM-logo.gif") %></p>
  </body>
</html>