<%= javascript_pack_tag 'hello_react' %>
<% name = current_user.present? ? current_user.email : 'Stranger' %>
<section class="section">
  <div class="container">
    <h1 class="title">
      Welcome, <%= name %>
    </h1>
    <%= image_tag("TM-logo.gif") %>
  </div>
</section>


