<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<section class="section">
  <div class="container">
    <h1 class="title">
      Hello World
    </h1>
    <p class="subtitle">
      My first website with <strong>Bulma yo</strong>!
    </p>
  </div>
</section>


